In [173]:
import numpy as np
import pandas as pd

In [174]:
data_test=pd.read_csv('test_Y3wMUE5_7gLdaTN.csv')
data_train=pd.read_csv('train_u6lujuX_CVtuZ9i.csv')
print(data_test.shape)
print(data_train.shape) 
data_train.head()

(367, 12)
(614, 13)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [175]:
data_train.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [176]:
col_num=['LoanAmount','Loan_Amount_Term','Credit_History'] 
col_str=['Gender','Married','Self_Employed','Dependents']

In [177]:
for i in col_num:
    data_train[i]=data_train[i].fillna(data_train[i].mean())
    data_test[i]=data_test[i].fillna(data_test[i].mean())

In [178]:
for i in col_str:
    data_train[i]=data_train[i].fillna(data_train[i].mode()[0])
    data_test[i]=data_test[i].fillna(data_test[i].mode()[0])

In [179]:
data_train.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [180]:
label=['Gender','Married','Self_Employed','Dependents','Property_Area','Education','Loan_Status']

In [181]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

In [182]:
for i in label:
    data_train[i]=encoder.fit_transform(data_train[i])
    if i == 'Loan_Status':
        continue
    data_test[i]=encoder.fit_transform(data_test[i])

In [183]:
data_train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1,0,0,0,0,5849,0.0,146.412162,360.0,1.0,2,1
1,LP001003,1,1,1,0,0,4583,1508.0,128.000000,360.0,1.0,0,0
2,LP001005,1,1,0,0,1,3000,0.0,66.000000,360.0,1.0,2,1
3,LP001006,1,1,0,1,0,2583,2358.0,120.000000,360.0,1.0,2,1
4,LP001008,1,0,0,0,0,6000,0.0,141.000000,360.0,1.0,2,1

## **Classifier Modeling**

In [184]:
x=data_train.drop(['Loan_Status','Loan_ID'],axis=1)
y=data_train['Loan_Status'] 
testing=data_test.drop('Loan_ID',axis=1)

In [223]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.3)

In [224]:
def classification(model,x_tr,y_tr,x_ts,y_ts):
    from sklearn.metrics import accuracy_score
    clf=model()
    clf.fit(x_tr,y_tr)
    pred=clf.predict(x_ts)
    print('Accuracy Score of ',model,':',accuracy_score(y_ts,pred)*100)

In [225]:
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
from sklearn.linear_model import LogisticRegression

In [226]:
classification(RandomForestClassifier,x_train,y_train,x_test,y_test)
classification(ExtraTreesClassifier,x_train,y_train,x_test,y_test)
classification(LogisticRegression,x_train,y_train,x_test,y_test)

Accuracy Score of  <class 'sklearn.ensemble._forest.RandomForestClassifier'> : 83.78378378378379
Accuracy Score of  <class 'sklearn.ensemble._forest.ExtraTreesClassifier'> : 78.91891891891892
Accuracy Score of  <class 'sklearn.linear_model._logistic.LogisticRegression'> : 84.32432432432432

**I'm Choosing Logistic Regression because it has highest accuracy score.**

In [234]:
clf=LogisticRegression()
clf.fit(x_train,y_train)
pred=clf.predict(testing)
np.savetxt('prediction.csv',pred,fmt='%d')